.ranQoute{
  margin:5rem 2rem;
  border-radius:13% 87% 17% 83% / 100% 0% 100% 0% ; 
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
  padding:5rem 9%;
 justify-content: center;

}
h2{
  color:white;
}

.ranQoute p{

  display: inline;
  text-align: center;
  overflow: hidden;

}
button { 
  margin-left: 30rem;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 20px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #013f66;
  color:white;
  font-size: 20px;
  font-weight:bold;
  cursor: pointer;

 
 }
 .author{
   display: block;
   text-align: center;
   margin-top:5rem;
   color:#013f66;
   font-weight: bold;;
 }

@media  screen and (max-width: 600px) {
  button {
    margin-left: 4rem;
    font-size: 15px;
  }
}